*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li,
menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
:root{
    --darkgrey: #282828;
    --bluegrey:#141923;
    --grey: #7b7b7b;
    --grey-text: #5e6166;
    --yellow: #adff2f;


}
html{
    font-family: 'Noto Sans Tangsa', sans-serif;
}
.row{
    display: flex;
}
.col__80{
    flex-basis: 80%;
}
.col__70{
    flex-basis: calc(70% - 12px);
}
.col__60{
    flex-basis: 60%;
}
.col__40{
    flex-basis: 40%;
}
.col__30{
    flex-basis: 30%;
}
.col__20{
    flex-basis: 20%;
}
.col__10{
    flex-basis: 10%;
}

/* MACRO LAYOUT SECTION  */


.container--macro--lo{
    display: flex;
    height: calc(100vh - 90px);
}
.container--short--macro--lo{
    height: 90px;
    background-color: var(--darkgrey);
}
header{
    width: 220px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
main{
    width: calc(100% - 220px);
    height: 100%;
    overflow: auto;
    background-color: var(--bluegrey);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* HEADER SECTION - NAV SIDE BAR */


.row__header{
    flex-direction: column;
    height: 100%;
    gap: 10px;
}
.logo--header{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.logo{
    width: 150px;
    margin: 20px 0 0;
}
.logo--small{
    width: 100%;
    display: none;
    margin-bottom: 20px;
}
.action--header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 10px ;
}
.action--header a{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    margin: 5px 0;
}
.yellow--line--header{
    height: 100%;
    background-color: var(--yellow);
    width: 2px;
    margin: 0 -10px;
}
.yellow--line--margin{
    margin: 0 10px;
}
.action--icon{
    width: 25px;
}
.action--text{
    color: var(--grey-text);
    font-weight: 400;
    font-size: 1rem;
}
.playlist{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 10px;
}
.title__playlist{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}
.create__playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.fa-square-plus{
    color: var(--grey-text);
    font-size: 2.5rem;
}
.subtitle__playlist{
    color: var(--grey-text);
    text-transform: capitalize;
    font-size: 14px;
}
.playlist__list--item{
    color: var(--grey-text);
    font-size: 0.8rem;
    text-transform: capitalize;
}
.install--header{
    margin-top: auto;
    padding: 0 10px;
}
.install--app{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--grey-text);
}
.fa-circle-down,
.install--text{
    color: var(--grey-text);
    font-size: 1rem;
}
.user{
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
.fa-user{
    background-color: var(--grey-text);
    color: white;
    font-size: 2rem;
    border-radius: 12px;
    aspect-ratio: 1;
    overflow: hidden;
}
.action--text::first-letter,
.install--text::first-letter{
    text-transform: uppercase;
}
.user--name{
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
}


/* HOVER HEADER SECTION  */
.action--header--link:hover .home,
.action--header--link:hover .search,
.action--header--link:hover .library,
.playlist__list--item:hover,
.create__playlist:hover .fa-square-plus,
.create__playlist:hover .subtitle__playlist,
.install--app:hover .install--text,
.install--app:hover .fa-circle-down{
    color: white;
}



/* MAIN SECTION  */

.upgrade{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 85px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;

}
.button{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 0 5px;
    text-transform: uppercase;
}
.button:hover{
    font-size: 1.1rem;
}
.main--content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100% - 85px);
    gap: 30px;
}


/* SECTION OF THE CATEGORY  */



.col--category{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}
.category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.category__list--item{
    color: var(--grey-text);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;

}
.yellow--line{
    width: 40px;
    margin: 3px auto;
    border: 2px solid var(--yellow);
}

/* HOVER SECTION CATEGORY  */

.category__list--item:hover{
    color: white;
}


/* SECTION  RECENTLY  */

.col--recently,
.col--john,
.col--popular{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 30px;
    margin: 0px 20px;
}
.row__recently,
.row--john,
.row--popular{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.album{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-basis: calc(100%/ 6 - 15px);
    gap: 10px;
    position: relative;
}
.album--picture{
    width: 100%;
}
.title__recently{
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.title--album--recently{
    color: white;
    text-align:center;
    font-size: 1rem;
    text-transform: capitalize;
}
.subtitle--album--recently{
    color: var(--grey-text);
    text-transform: capitalize;
    font-size: 0.7rem;
}
.fa-regular.pop--up--image,
.fa-regular.pop--up--title,
.fa-regular.pop--up--subtitle
{
  display: none;
}



/* HOVER SECTION RECENTLY  */
.album:hover img{
    filter: brightness(0.5);
}
.album:hover i
{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
.album:hover .album{
    position: relative;
}

/* SECTION CREATED FOR JOHN  */

.subtitle--album--john,
.subtitle--popular{
    color: var(--grey-text);
    font-size: 0.7rem;
}
.subtitle--popular::first-letter,
.subtitle--album--john::first-letter,
.title--popular::first-letter{
    text-transform: uppercase;
}
.created__john,
.popular--artist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* SECTION POPULAR */
.col--popular{
    padding: 20px 0;
}
.circle{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
}
.title--popular{
    color: white;
    font-size: 1.2rem;
}



/* ASIDE CONTAINER SHORT -- PLAYER  */


.row--player{
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.col__fix{
    width: 220px;
}
.row--song--play{
    margin: 20px 10px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.player__song--play{
    display: flex;
    column-gap: 4px;
    flex-direction: row;
    align-items: center;
}
.player--img{
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
.song--name,
.song--artist{
    text-transform: capitalize;
}
.song--name{
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.song--artist{
    font-weight: 400;
    font-size: 0.7rem;
    color: var(--grey-text);
}
.icon--play--song{
    color: var(--grey);
}
.player--icon--play{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.row--action{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 700px;
}
.row--action--list--item{
    width: 220px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.row--action--timer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.icon--play{
    font-size: 1rem;
}
.icon--play,
.icon--play--volume{
    color: white;
}
.fa-circle-play{
    font-size: 2rem;
}
.timer{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
}
.volume{
    display: flex;
    padding: 5px 0;
}

.row--volume{
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 10px;
    column-gap: 10px;
}
.position--icon{
    display: flex;
    justify-content: space-around;
}
.icon--play--volume,
.icon--play--song{
    font-size: 1rem;
}
.position--volume{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.music--line{
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: var(--grey);
    border-radius: 999px;
    position: relative;
}
.music--volume{
    width: 30%;
    background-color: white;
    height: 4px;
    border-radius: 999px;
}



/* GRAPHIC HOVER PLAYER SECTION */

.song--artist:hover{
    text-decoration: underline;
    color: white;
}
.fa-heart:hover,
.fa-folder:hover{
    color: white;
}
.music--line:hover .music--volume{
    background-color: green;
}
.time--ball{
    display: none;
    height: 9px;
    width: 9px;
    position: absolute;
    background-color: white;
    border-radius: 999px;
    aspect-ratio: 1;
    left: 30%;
    margin: -2px;
}
.music--line:hover .time--ball{
    display: block;
}
.fa-circle-play:hover{
    font-size: 2.1rem;
}







