*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li,
menu{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --darkgrey: #282828;
    --bluegrey:#141923;
    --grey: #7b7b7b;


}
html{
    font-family: 'Noto Sans Tangsa', sans-serif;
}
.row{
    display: flex;
}
.col__80{
    flex-basis: 80%;
}
.col__70{
    flex-basis: calc(70% - 12px);
}
.col__60{
    flex-basis: 60%;
}
.col__40{
    flex-basis: 40%;
}
.col__30{
    flex-basis: 30%;
}
.col__20{
    flex-basis: 20%;
}
.col__10{
    flex-basis: 10%;
}

/* MACRO LAYOUT SECTION  */


.container--macro--lo{
    display: flex;
    height: calc(100vh - 90px);
}
.container--short--macro--lo{
    height: 90px;
    background-color: var(--darkgrey);
}
header{
    width: 220px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
main{
    width: calc(100% - 220px);
    height: 100%;
    overflow: auto;
    background-color: blue;
}



/* HEADER SECTION - NAV SIDE BAR */


.row--header{
    flex-direction: column;
    padding: 10px 10px 0;
    height: 100%;
}
.logo--header{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 150px;
    margin: 20px 0;
}
.logo--small{
    width: 100%;
    display: none;
    margin-bottom: 20px;
}
.action--header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 20px;
}
.action--header a{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    margin: 10px 0;
}
.action--icon{
    width: 25px;
}
.action--text{
    color: var(--grey);
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
}
.playlist{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.title__playlist{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}
.create__playlist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}
.fa-square-plus{
    color: var(--grey);
    font-size: 2.5rem;
    font-weight: 700;
}
.subtitle__playlist{
    color: var(--grey);
    text-transform: capitalize;
    font-size: 14px;
}
.playlist__list--item{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
}
.install--header{
    margin-top: auto;
}

/* ASIDE CONTAINER SHORT -- PLAYER  */


.row--player{
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.col__fix{
    width: 220px;
}
.row--song--play{
    margin: 20px 10px;
    flex-direction: row;
    justify-content: space-between;
}
.player__song--play{
    display: flex;
    column-gap: 11px;
    flex-direction: row;
    align-items: center;
}
.player--img{
    width: 50px;
}
.song--name,
.song--artist{
    text-transform: capitalize;
}
.song--name{
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.song--artist{
    font-weight: 400;
    font-size: 0.7rem;
    color: var(--grey);
}
.icon--play--song{
    color: var(--grey);
}
.player--icon--play{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.row--action{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    row-gap: 5px;
    max-width: 700px;
}
.row--action--list--item{
    width: 220px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.row--action--timer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.icon--play{
    font-size: 1rem;
}
.icon--play,
.icon--play--volume{
    color: white;
}
.fa-circle-play{
    font-size: 2rem;
}
.timer{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
}
.row--volume{
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 10px;
    column-gap: 10px;
}
.position--icon{
    display: flex;
    justify-content: space-around;
}
.icon--play--volume,
.icon--play--song{
    font-size: 1rem;
}
.music--line{
    width: 100%;
    border-bottom: 2px solid grey;
}
.music--volume{
    width: 30%;
    border-top: 3px solid white;
    margin-top: -2px;
}

